node_modules
dist
dist-ssr
*.local
.env
.env.*.local
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
coverage

# build outputs
release
*.tsbuildinfo

# supabase local dev
supabase/.temp
supabase/.branches
